{{!-- <html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
  </head>
  <body>
    <p> Welcome to the site</p>
  </body>
</html> --}}

<!DOCTYPE html>
<html>
<title>縛仙会</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="static/styles.css">
<body>

<!-- Sidebar -->


<!-- Page Content -->
<div class="">

<div style="background-color:black">f
  <h1 style="color:red">縛仙会</h1>


  <div class="w3-sidebar w3-black w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">メニュー<h3>
  <a href="about" class="w3-bar-item w3-button">縛仙会について</a>
  <a href="katsudou" class="w3-bar-item w3-button">活動</a>
  <a href="shashin" class="w3-bar-item w3-button">写真</a>
  <a href="contact" class="w3-bar-item w3-button">問い合わせ</a>
</div>
</div>

<div class="w3-container">
<div style="margin-left:40%">
<h2>仙台におけるSM・縄・変態のサークル</h2>
<p>どんな趣向があってもう受けて入れるサークル</p>
<p></p>



</div>

</div>


</div>
      
</body>
</html>
